*:focus{
  outline: none;
}
div {
  display:block;
  text-align: center
}

body {
  font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
    margin-top: 20;
    padding: 0;
    
  }
li {
  vertical-align: middle;
}
nav {
  margin-bottom: 0px;
}
svg {
  height: 20px;
}
#navbar{
  flex:1;
  margin-top:20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  vertical-align: middle;
  
}
#app-image {
  margin-bottom:40px;
}
.links{
  color:#5f6368;
}
#main-body{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  text-align:center
}
#image {
  flex: 1;
  text-align: center;
  padding: 40px;
}
#hplogo {
  display: inline-block
}
#search {
  border-color:#fff;
  width: 90%;
  position:relative;
  bottom:0px;
  height: 38px;
  border-style: solid;
}
#search-icon-holder {
  float: left;
  width:10%;
  position: relative;
  top: 10px;
  left:-20px;
}
#search-image {
  width:60%;
 
}
#svg1 {
  
  fill: #9aa0a6
}
#speach-holder {
  float: right;
  position:relative;
  right: -5px;
  top: -3px;
  height:10px;
}
#speach-image {
  height:25px;
}
#search-container {
  position:relative;
  bottom:0px;
  height: 10px;
  border-style: ;
}
#search-bar {
  flex:1;
  width:100%;
  height:40px;
  border-radius: 20px;
  border-color: #d0d0d0;
  border-width: 1px;
  border-style: solid

}
#search-bar:hover{
  box-shadow: 0px 1px 5px 0px grey;
}

  #footer {
    background: #f2f2f2;
    vertical-align: middle;
  }
  #long-text{
    white-space: nowrap;
  }
  .button-div {
    display: inline-block
  }
  .btn-variant {
    background-color: #f2f2f2;
    color: #5f6368;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border-radius: 4px;
    margin-top: 11px;
    margin-right: 4px;
    margin-bottom: 11px;
    margin-left: 4px;
    height: 36px;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
  }

  .btn-variant:hover {
    --border-color: #909090;
    color: #000000;
    box-shadow: 0px 0px 2px .5px grey;

  }
  .btn-variant:focus {
   outline: none;
  }
  

  #lower-navbar {
    flex: 1;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    display: block;
    visibility: visible;
    background-color: #f1f1f1;
    
    border-color: #000000;
    box-shadow: 0px 0px 2px grey: 
  }
.footerlinks {
  
  padding: 0px 0px 0px 27px;
  vertical-align: middle;
}
.parent {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
 .parent > li {
   display: inline-block;
   width: 50%;
   height: 100%;
   
 }